<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Contacts</title>
</head>

<body>
    <section>
        <div class="card mr-3 ml-3">

            <div class="card-body">
                <h1 class="text-center">Your Contacts</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${contacts}">
                            <th scope="row" th:text="${'SCM2023'+c.cid}">3</th>
                            <td>
                                <img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt="">
                                <span th:text="${c.name}"></span>
                            </td>
                            <td>
                                <a href="#" th:href="@{'/user/'+${c.cid}}+'/contact'">
                                    <span th:text="${c.email}"></span>
                                </a>
                            </td>
                            <td th:text="${c.phone}"></td>
                            <td>
                                <div>
                                    <a href="#" th:onclick="deleteContact([[${c.cid}]])"> <button
                                            class="btn btn-danger">Delete</button></a>
                                </div>
                                <form action="" th:action="@{/user/update-contact/}+${c.cid}" method="post"
                                    class="mt-2">
                                    <button class="btn btn-primary">Update</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <nav aria-label=" Page navigation example">
                    <ul class="pagination">
                        <li th:if="${currentPage != 0}" class="page-item"><a class="page-link"
                                th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#">Previous</a>
                        </li>
                        <li th:classappend="${currentPage == e-1?'active':''}"
                            th:each="e : ${#numbers.sequence(1,totalPage)}" class="page-item"><a
                                th:href="@{'/user/show-contacts/'+${e-1}}" class="page-link" href="#"><span
                                    th:text="${e}"></span></a></li>
                        <li th:if="${currentPage+1 != totalPage }" class="page-item"><a class="page-link"
                                th:href="@{'/user/show-contacts/'+${currentPage+1}}" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>
        </div>


    </section>

</body>

</html>